*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 6rem; }
  .header__title {
    text-align: center; }
    .header__title--primary {
      font-family: 'Pacifico', cursive;
      font-size: 8rem;
      padding-bottom: 1rem; }
    .header__title--secondary {
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem; }

.summary {
  text-align: center; }
  .summary__title {
    font-size: 3rem; }
  .summary__budget {
    margin: 2rem;
    font-size: 2rem; }

.row::after {
  clear: both;
  content: "";
  display: block; }

.container {
  margin: 20px;
  max-width: 90vw;
  border: 1px black solid;
  border-radius: 10px; }

.col-1-of-2 {
  width: 50%;
  float: left; }

.heading--income {
  text-align: center;
  background-color: rgba(0, 255, 0, 0.2); }

.heading--expense {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2); }

.item--income {
  background-color: rgba(0, 255, 0, 0.2); }

.item--expense {
  background-color: rgba(255, 0, 0, 0.2); }
